.recensione-glass {
  background: rgba(255, 255, 255, 0.397);
  border-radius: 0rem;
  box-shadow: 0 4px 24px 0 rgba(80, 80, 80, 0.1);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);

  padding: 1.5rem 1rem;
  margin: 0.5rem 0;
  transition: box-shadow 0.2s;
}
